{% extends "base.html" %} 
{% load render %}
{% load extras %}
{% block title %}Tree Respiration{% endblock %}

{% block css %} 
    <link href="/respiration/media/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/respiration/media/bootstrap-3.3.4-dist/css/bootstrap-glyphicons.css" rel="stylesheet">
<style type='text/css'>
  @import "/respiration/media/css/style.css";
</style> 
<!--[if IE]>
<style type='text/css'>
  @import "/respiration/media/css/style_ie.css";
</style> 
<![endif]-->
{% endblock %} 

{% block js %}

    <script type="text/javascript" src="/respiration/media/js/libraries/jquery-1.11.2.min.js"></script> 
    <script type="text/javascript" src="/respiration/media/js/libraries/underscore-1.8.3.min.js"></script>
    <script type="text/javascript" src="/respiration/media/js/libraries/backbone-1.1.2.min.js"></script>
    <script src="/respiration/media/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script> -->
    <script type="text/javascript" src="/respiration/media/js/jquery.sharing/jquery.sharing.js"></script>
    <script type="text/javascript" src="/respiration/media/js/sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>   
    <script type="text/javascript" src="/site_media/js/bluff/js-class.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/excanvas.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/bluff-src.js"></script> 
    <script type="text/javascript" src="/respiration/media/js/graph.js"></script> 
    <script type="text/javascript" src="media/js/foresthelpers.js"></script> 
    <script type="text/javascript" src="media/js/scenario.js"></script> 
    <script type="text/javascript" src="media/js/species.js"></script> 
    <script type="text/javascript" src="media/js/forestgraph.js"></script>
    <script type="text/javascript">
    function calculateKelvin(elem, id) {
        var k = id.split("-");
        var kl = k[0] + "-kelvin";
        var result = parseFloat(elem) + 273.15;
        var kelvin = document.getElementById(kl);
        if (isNaN(result)) {
            kelvin.innerHTML = "";
        }
        else {
            kelvin.innerHTML = result;
        }
    }

    addLoadEvent(function() {
        {% for station in stations %}
            addYears("{{station}}");
        {% endfor %} // foresthelpers.js
        initYearHelper(); // foresthelpers.js
        initSpeciesModule(); // species.js
        initScenarioModule(); // scenario.js
        setup(); // graph.js        
      });

    makeExportLink = function(a) {
      var id = a.id;
      id = id.split('-')[0];
      var year = document.getElementById(id+'-year').value;
      var start = document.getElementById(id+'-startdate').value;
      var end = document.getElementById(id+'-enddate').value;
      var station = document.getElementById(id+'-fieldstation').value;
      a.href = "/respiration/getcsv?year="+year+"&start="+start+"&end="+end+"&station="+station;
    };    
  </script>

{% endblock %} 

{% block masthead %} 
  <a href="/respiration/" title="Return to 'Tree Respiration' home">Tree Respiration</a>
{% endblock %} 

{% block content %}
      <ul class="nav nav-tabs tree-graph-nav"><!-- id="tab-bar" -->
        <li class="active">
            <a href="#leaf-graph-pane" data-toggle="tab">Leaf Level</a>
        </li><!-- class="tab" id="tab-leaf" -->
        <li>
            <a href="#canopy-graph-pane" data-toggle="tab">Canopy Level</a>
        </li><!-- class="tab" id="tab-canopy" -->
        <li>
            <a href="#teaching-resources-pane" data-toggle="tab">Teaching Resources</a>
        </li><!-- class="tab" id="tab-resources" -->
      </ul>
    
    <div class="tree-graph tab-content">
         {% include "respiration/sharing.html" %} 
         {% include "respiration/arrhenius_function.html" %}	          
      
        <div class="tab-pane active" id="leaf-graph-pane">
           {% include "respiration/leaf_respiration_pane.html" %}
        </div>
        <div class="tab-pane" id="canopy-graph-pane">
          {% include "respiration/canopy_pane.html" %}
        </div>
        <div class="tab-pane" id="teaching-resources-pane">
          {% include "respiration/resources.html" %} 
        </div>
      </div><!-- End Tab Content Div -->

    {% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 9});

    </script>
    {% endblock %} 
{% endblock %} 
