{% extends "base.html" %} 
{% load render %}
{% load extras %}
{% block title %}Tree Respiration{% endblock %}

{% block css %} 
<style type='text/css'>
  @import "/respiration/media/css/style.css";
</style> 
<!--[if IE]>
<style type='text/css'>
  @import "/respiration/media/css/style_ie.css";
</style> 
<![endif]-->
{% endblock %} 

{% block js %} 
    {% include "respiration/leaf_templates.html" %}
    {% include "respiration/forest_templates.html" %}
    <script src="/site_media/js/browserdetect.js" type="text/javascript" language="javascript"></script>
    <script src="/site_media/js/shield.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-ui-1.11.4.min.js"></script>  
    <script src="/site_media/js/mochikit/MochiKit/MochiKit.js" type="text/javascript"></script> 
    <script src="/site_media/js/mochikit/MochiKit/Signal.js" type="text/javascript"></script>   
    <script type="text/javascript" src="/site_media/js/libraries/jquery.sharing/jquery.sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/bluff/js-class.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/excanvas.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/bluff-src.js"></script>
    <script type="text/javascript" src="/respiration/media/js/graph.js"></script> 
    <script type="text/javascript" src="/site_media/js/respiration/tabswitch.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
    <script type="text/javascript" src="media/js/species.js"></script>
    <script type="text/javascript" src="media/js/scenario.js"></script>
    <script type="text/javascript" src="media/js/foresthelpers.js"></script>
    <script type="text/javascript" src="media/js/forestgraph.js"></script>


   <script type="text/javascript">
   // function closePredefinedSpecies() {
   //     var elts = getElementsByTagAndClassName("div", "species-predefined-list");
   //     forEach(elts, function(elt) {
   //         if (getStyle(elt, 'display') === 'block') {
   //             hideElement(elt);
   //         }
   //     });
   //    }
     //connect(document.body, "onclick", closePredefinedSpecies); 
     //on("mouseover", "div.species-select-predefined", function() {})
     //jQuery(document.body).on("mouseout", "div.species-predefined-choice", 
    	//	 function() {closePredefinedSpecies();});
     //("click", "div.closePredefinedSpecies", function() {closePredefinedSpecies()});
     addLoadEvent(function() {
         initNav();
         initSpeciesModule();
         initScenarioModule();
         setup();
         //initForestGraph();
       });
     console.log(window);
   </script>
    <script type="text/template" id="resources-template">
  <div id="resource-contents">
    <h3>Teaching Resources</h3>
    <ul>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Presentation.pdf" target="_blank">
	  Tree Respiration Lab Presentation
	</a>
      </li>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Protocol.pdf" target="_blank">
	  Tree Repiration Lab Protocol
	</a>
      </li>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Spreadsheet.pdf" target="_blank">
	  Tree Respiration Lab Spreadsheet
	</a>
      </li>
    </ul>
  </div>
</script>


    <script type="text/javascript">


    function calculateKelvin(elem, id) {
        var k = id.split("-");
        var kl = k[0] + "-kelvin";
        var result = parseFloat(elem) + 273.15;
        var kelvin = document.getElementById(kl);
        if (isNaN(result)) {
            kelvin.innerHTML = "";
        }
        else {
            kelvin.innerHTML = result;
        }
    }

//     addLoadEvent(function() {
// //         {% for station in stations %}
// //             addYears("{{station}}", {{years|hash:station}});
// //         {% endfor %}
//         //initNav(); // foresthelpers.js
//         //initYearHelper(); // foresthelpers.js
//         initSpeciesModule(); // species.js
//         initScenarioModule(); // scenario.js
//         setup(); // graph.js        
//       });

//     makeExportLink = function(a) {
//       var id = a.id;
//       id = id.split('-')[0];
//       var year = document.getElementById(id+'-year').value;
//       var start = document.getElementById(id+'-startdate').value;
//       var end = document.getElementById(id+'-enddate').value;
//       var station = document.getElementById(id+'-fieldstation').value;
//       a.href = "/respiration/getcsv?year="+year+"&start="+start+"&end="+end+"&station="+station;
//     };    
  </script>
{% endblock %} 

{% block masthead %} 
<a href="/respiration/" title="Return to 'Tree Respiration' home">Tree Respiration</a>

{% endblock %} 



{% block content %}
    {% include "respiration/sharing.html" %}
        <div id="tab-bar">
            <div class="tab" id="tab-resources" onclick="showResources();">
                Teaching Resources
            </div>
            <div class="tab" id="tab-canopy">
                Canopy Level
            </div>          
            <div class="tab" id="tab-leaf">
                Leaf Level
            </div>          
        </div>
    
    {% block moduleheader %}
	    <div id="respiration_content">
	       	<div id="instructions">
	        	<strong>Instructions:</strong>
	        	{% block instructions %}
	        	{% endblock %}
	       	</div>
	       	<div id="resource-area"></div>
	    	{% include "respiration/arrhenius_function.html" %}
	    </div> <!-- end respiration content -->
    {% endblock %}  
    
    <div id="container">
        {% block modulecontainer %}
    	<div id="left">
    		<div id="leftfield">
               
               <div id="left-legend">
               </div>
               
    		   <div id="left-pane">
    		   </div>
    		</div>
    	</div>
    
    	<div id="right">
    	  <div id="rightfield">
            <h3>
                <div id="right-legend">
        	    </div>
            </h3>
    	    {% block graph %} 
    		  <div id="graph-cursor"><div id="unfreeze"></div></div>
    		  <canvas id="graph" width="460" height="345"></canvas>
    	    {% endblock %} 
    	    <div id="right-pane">
    	    </div>
    	  </div>
    	</div>
        {% endblock %}
    </div> <!-- end div "container" -->    
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 9});

    </script>
{% endblock %} 
